@tailwind base;
@tailwind components;
@tailwind utilities;

.button, .form-field {
  @apply py-2 px-4 border-2 rounded w-full mb-4;
  min-height: 48px;
}

.col-wide, .col-thin, .col {
  @apply w-full m-auto
}

.col-thin {
  max-width: 320px;
}
.col {
  max-width: 512px;
}

.col-wide {
  max-width: 1024px;
}
@responsive {
  .border-box {
    box-sizing: border-box;
  }
  .content-box {
    box-sizing: content-box;
  }
  .split-none {
    grid-template-columns: 1fr;
  }

  .split-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .split-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.grid {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-column-gap: 1rem;
}

.ts-pulse-green {
  animation: shadow-pulse-gr 2s infinite;
  background: #14804E;
  border-color: #1ebc71;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase
}

@keyframes shadow-pulse-gr {
  0% {
      box-shadow: 0 0 0 0 rgba(37,221,133,0.4)
  }

  100% {
      box-shadow: 0 0 0 20px rgba(37,221,133,0)
  }
}
