$primary: #006572;
$secondary: #3E3E3E;

* {
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

@keyframes dotOneAnimate {
    0% {transform: translate(0)}
    33% {transform: translate(-60px, 40px)}
    66% {transform: translate(60px, -20px)}
    100% {transform: translate(0)}
}
@keyframes dotTwoAnimate {
    0% {transform: translate(0)}
    33% {transform: translate(-50px, -40px)}
    66% {transform: translate(90px, -80px)}
    100% {transform: translate(0)}
}
@keyframes dotThreeAnimate {
    0% {transform: translate(0)}
    33% {transform: translate(-50px, 40px)}
    66% {transform: translate(90px, -80px)}
    100% {transform: translate(0)}
}