header {
    width: 80%;
    margin: 50px auto;
    max-width: 475px;
    img {
        width: 90%;
        margin: 0 auto;
    }
    .text {
        margin: 40px 0;
        h2 {
            font-size: 1.6rem;
            text-transform: uppercase;;
            color: $primary;
            margin: 0;
        }
        p {
            margin: 0;
            padding: 15px 0;
        }
        button {
            margin-top: 15px;
            background: $primary;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 16px;
            color: white;
            cursor: pointer;
            &:hover {
                opacity: .9;
            }
        }
    }
    @media(min-width: 768px) {
        display: flex;
        align-items: center;
        max-width: none;
        img {
            order: 2;
            width: 50%;
        }
        .text {
            p {
                width: 90%;
            }
            button {
                margin-top: 30px;
            }
        }
    }
}