nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    .navbar {
        padding: 15px 0;
        &-contents {
            width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                color: $secondary;
                font-size: 1.6rem;
                margin: 0;
                .primary {
                    color: $primary;
                }
            }
            img {
                cursor: pointer;
                width: 1.3rem;
                height: 1.2rem;
            }
            @media(min-width: 768px) {
                position: relative;
                width: auto;
                img {
                    display: none;
                }
            }
        }
    }

    .nav-links {
        display: none;
        background: rgb(245, 245, 245);
        padding: 20px 0 40px 0;
        position: absolute;
        width: 100%;
        ul {
            line-height: 2.5;
            width: 80%;
            margin: 0 auto;
            li {
                padding-left: 5px;
                border-bottom: 1px solid #ebebeb;
            }
            li a:hover {
                color: $primary;
            }
            .features {
                cursor: pointer;
                &:hover {
                    color: $primary;
                }
            }
            .dropdown {
                display: none;
            }
            .drop-pressed {
                display: block;
            }
        }
        @media(min-width: 768px) {
            display: block;
            background: none;
            position: relative;
            width: auto;
            padding: 0;
            ul {
                width: 100%;
                display: flex;
                align-items: center;
                line-height: 1.5;
                li {
                    margin: 0 7px;
                }
                .login {
                    background: $primary;
                    padding: 3px;
                    width: 5rem;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    a {
                        color: white;
                        &:hover {
                            color: white;
                            opacity: .75;
                        }
                    }
                }
            }
        }
    }

    @media(min-width: 768px) {
        .nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            max-width: 1000px;
        }
    }

    .nav-links-open {
        display: block;
    }
}