$primary: #006572;
$secondary: #3E3E3E;

* {
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    margin-top: 15px;
    background: $primary;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    &:hover {
        opacity: .9;
    }
}

.primary {
    color: $primary;
}

@import 'nav';
@import 'header';
@import 'services';
@import 'about';
@import 'packages';
@import 'faq';
@import 'reviews';

svg {
    position: absolute;
    width: 100%;
    z-index: -10;

    #dotOne,
    #dotThree {
        animation: 40s ease-out dotOneAnimate infinite;
    }
    #dotTwo {
        animation: 40s ease-out dotTwoAnimate infinite;
    }
}

main {
    background: url('../img/mobile-bg.svg') no-repeat center;
    background-size: cover;
    @media(min-width: 768px) {
        background: url('../img/tablet-bg.svg') no-repeat;
        background-size: cover;
    }
    @media(min-width: 1100px) {
        background: url('../img/desktop-bg.svg') no-repeat;
        background-size: cover;
    }
}

@keyframes dotOneAnimate {
    0% {transform: translate(0)}
    33% {transform: translate(-60px, 40px)}
    66% {transform: translate(60px, -20px)}
    100% {transform: translate(0)}
}
@keyframes dotTwoAnimate {
    0% {transform: translate(0)}
    33% {transform: translate(-50px, -40px)}
    66% {transform: translate(90px, -80px)}
    100% {transform: translate(0)}
}
@keyframes dotThreeAnimate {
    0% {transform: translate(0)}
    33% {transform: translate(-50px, 40px)}
    66% {transform: translate(90px, -80px)}
    100% {transform: translate(0)}
}